@font-face {
  font-family: 'Shrikhand';
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 20px;
}

body {
  max-width: 767px;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  padding: 30px 0px 10px 0px;
  width: 100%;
  -webkit-box-shadow: 5px 5px 5px lightgray;
          box-shadow: 5px 5px 5px lightgray;
}

.header__location--details {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  position: relative;
  width: 100%;
  height: 60px;
  background-color: rgba(211, 211, 211, 0.479);
}

.header__location--details i {
  position: relative;
  top: 18px;
  right: 95px;
  bottom: auto;
  left: auto;
  font-size: 20px;
}

.header__location--details h4 {
  position: absolute;
  top: 18px;
  right: auto;
  bottom: auto;
  left: auto;
  font-size: 20px;
  font-weight: 500;
}

.header__titles {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  text-align: center;
  width: 100%;
}

.header__titles h1 {
  width: 80%;
  margin-top: 40px;
}

.header__titles p {
  width: 95%;
  margin: 15px 0px 40px 0px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  width: 100%;
  background-color: whitesmoke;
  padding-bottom: 60px;
}

.header__button--explore {
  padding: 20px 25px;
  border-style: none;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 10px lightgray;
          box-shadow: 5px 5px 10px lightgray;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.header__button--explore:hover {
  -webkit-box-shadow: 10px 10px 15px lightgray, -5px -5px 10px lightgray;
          box-shadow: 10px 10px 15px lightgray, -5px -5px 10px lightgray;
  background: linear-gradient(175deg, #F088E0, #AF73E1);
}

.nav {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 75px;
}

.nav h2 {
  margin: 30px 0px 40px 0px;
}

.nav__processes--list {
  list-style: none;
}

.nav__processes--list li {
  padding: 25px 0px;
  background-color: whitesmoke;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 10px lightgray;
          box-shadow: 5px 5px 10px lightgray;
  margin-left: 10px;
  margin-bottom: 30px;
}

.nav__processes--list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__processes--list .fas {
  font-size: 20px;
  margin-top: 4px;
  margin-left: -4px;
}

.nav__processes--list .fa-mobile-alt {
  margin-left: -2px;
  margin-right: 30px;
}

.nav__processes--list .fa-list {
  margin-right: 26px;
}

.nav__processes--list .fa-store {
  margin-right: 24px;
}

.nav__processes--list span {
  margin-top: 3px;
  font-size: 18px;
  font-weight: 500;
}

.nav__processes--numbers {
  color: white;
  font-size: 16px;
  margin-right: 30px;
  margin-left: -14px;
  padding: 4px 9px;
  border-radius: 24px;
  background-color: #9356DC;
}

.nav__hover-effect:hover {
  background-color: #9256dc23;
}

.nav__hover-effect:hover .fas {
  color: #9356DC;
}

.restaurants {
  background-color: whitesmoke;
  width: 100%;
  padding-bottom: 50px;
}

.restaurants h2 {
  margin-left: 5%;
  padding-top: 50px;
  margin-bottom: 20px;
}

.restaurants__cards {
  margin: 0px 5% 20px 5%;
  height: 250px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: 5px 5px 20px lightgray;
          box-shadow: 5px 5px 20px lightgray;
}

.restaurants__cards--infos {
  position: relative;
}

.restaurants__cards--infos h3 {
  margin: 12px 0px 2px 10px;
}

.restaurants__cards--infos h4 {
  margin-left: 10px;
  font-weight: 400;
}

.restaurants__cards--infos i {
  position: absolute;
  top: 10px;
  right: 20px;
  bottom: auto;
  left: auto;
}

.restaurants__cards--image {
  position: relative;
  width: 100%;
}

.restaurants__cards--image img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 15px 15px 0px 0px;
}

.restaurants__cards--image .restaurants__cards--latest {
  z-index: 1;
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: auto;
  left: auto;
  background-color: #99E2D0;
  color: #0c8e6e;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 700;
}

.footer {
  background-color: #353535;
  padding-bottom: 25px;
}

.footer h2 {
  color: white;
  font-family: Shrikhand, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  margin-left: 5%;
  padding: 20px 0px;
}

.footer__list {
  margin-left: 5%;
  list-style: none;
}

.footer__list--text {
  padding-bottom: 10px;
}

.footer__list--text a {
  color: white;
  font-size: 16px;
}

.footer__list--text .fas {
  font-size: 12px;
  margin-right: 10px;
}

.footer__list--text .fa-utensils {
  font-size: 16px;
  margin-right: 12px;
}
/*# sourceMappingURL=phone.css.map */